<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>Quick Traineer</title>

    <link rel="stylesheet" type="text/css" href="../styles/theme.css">

</head>
<body>
<div id="header">
        <h1 class="title">Quick Trainner</h1>
        <p class="text1">This is my first page.</p>
    </div >
        <div id="content">
            <div class="b"><button class="button">Juego 1</button></div>
            <div class="b"><button class="button">Juego 2</button></div>
            <div class="b"><button class="button">Juego 3</button></div>
        </div>
        <div id="footer">
            <ul>
              <li><a href="#news" class="bar_option">Preguntas frecuentes</a></li>
              <li><a href="#contact" class="bar_option">Contáctanos</a></li>
              <li><a href="#about" class="bar_option">Ayuda</a></li>
              <li><a href="../index.html" class="bar_option">Inicio</a></li>
            </ul>
            </div>
        </div>
</body>
</html>